version: "3.8"

services:
  bot:
    build: .
    volumes:
      - .:/app
    env_file:
      - .env
    command: python main.py
    depends_on:
      db:
        condition: service_healthy
    networks:
      - botnet

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: loogika
      POSTGRES_PASSWORD: 32911329
      POSTGRES_DB: bot_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - botnet

volumes:
  postgres_data:

networks:
  botnet:
